<!DOCTYPE html>
<html>
<head>
	<!-- BEGIN script -->
		<script type="text/javascript" src="{SCRIPT_URL}" />
	<!-- END script -->
	<!-- BEGIN style -->
		<link rel="stylesheet" type="text/css" href="{STYLE_URL}" media="screen" />
	<!-- END style -->
</head>
<body>
<!-- BEGIN message -->
	{MESSAGE}
<!-- END message -->

<!-- BEGIN preview -->
    <img id="preview" height="{HEIGHT}" src="{FILE}"/>
<!-- END preview -->

<!-- BEGIN audio -->
 	<audio id="medium" height="{HEIGHT}">
		<source src="{FILE}" type="{MIME}" />
	</audio>
    <img id="transparent" width="{WIDTH}" height="{HEIGHT}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
<!-- END audio -->

<!-- BEGIN video -->
    <video id="medium" height="{HEIGHT}">
        <source src="{FILE}" type="{MIME}" />
    </video>
    <img id="transparent" width="{WIDTH}" height="{HEIGHT}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
<!-- END video -->

	<script>
        $(function() {
            ilPCLimitedMediaPlayerFrame.initPlayer({CONFIG});
        });
	</script>
</body>
</html>