<!-- BEGIN max_plays -->
    <div class="row">
        <div class="col-sm-3">{MAX_PLAYS_TEXT}</div>
        <div class="col-sm-9 max_plays">{MAX_PLAYS}</div>
    </div>
<!-- END max_plays -->

<!-- BEGIN current_plays -->
    <div class="row">
        <div class="col-sm-3">{CURRENT_PLAYS_TEXT}</div>
        <div class="col-sm-9 current_plays">{CURRENT_PLAYS}</div>
    </div>
<!-- END current_plays -->

<!-- BEGIN current_seconds -->
    <div class="row">
        <div class="col-sm-3">{CURRENT_SECONDS_TEXT}</div>
        <div class="col-sm-9 current_seconds">{CURRENT_SECONDS}</div>
    </div>
<!-- END current_seconds -->

<!-- BEGIN info -->
    <div class="row">
        <div class="col-sm-12"><span class="small">{INFO_TEXT}: {INFO_VALUE}</span></div>
    </div>
<!-- END info -->